<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'analyzer:upload' %}">
            <i class="bi bi-file-text me-2"></i>ATS Resume Analyzer
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'analyzer:upload' %}">
                        <i class="bi bi-upload me-1"></i>Upload
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'analyzer:history' %}">
                        <i class="bi bi-clock-history me-1"></i>History
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
